{% extends 'base.html.twig' %}

{% block title %}ContactUs index{% endblock %}

{% block body %}
    <h1>ContactUs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Description</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_u in contactuses %}
            <tr>
                <td>{{ contact_u.id }}</td>
                <td>{{ contact_u.email }}</td>
                <td>{{ contact_u.description }}</td>
                <td>{{ contact_u.name }}</td>
                <td>
                    <a href="{{ path('app_contact_us_show', {'id': contact_u.id}) }}">show</a>
                    <a href="{{ path('app_contact_us_edit', {'id': contact_u.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_us_new') }}">Create new</a>
{% endblock %}
